/* MissionCertification.css */

.mission-header {
    background-color: #007bff; /* 바의 배경색을 원하는 색상으로 설정합니다. */
    color: #fff; /* 텍스트 색상을 흰색 또는 원하는 색상으로 설정합니다. */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .mission-header-content {
    font-size: 24px; /* 헤더 텍스트의 글자 크기를 조절합니다. */
    font-weight: bold; /* 텍스트를 볼드체로 설정합니다. */
  }
  
  .icon-button {
    background: none;
    border: none;
    color: #fff; /* 아이콘 색상을 흰색 또는 원하는 색상으로 설정합니다. */
    font-size: 24px; /* 아이콘 크기를 조절합니다. */
    cursor: pointer;
    margin-right: 10px; /* 아이콘 간의 간격을 조절합니다. */
  }
  